---
layout: layouts/base.vto
title: Home
---
{{ include "components/hero.vto" { title: hero.title, description: hero.description, cta: hero.cta, secondary_cta: hero.secondary_cta } }}
{{ include "components/initiatives.vto" { title: initiatives.title, description: null, initiatives: initiatives.items } }}