---
layout: layouts/base.vto
title: Our Initiatives
---
<div class="py-12">
    {{ include "components/initiatives.vto" { title: site.initiatives.title, description: site.initiatives.description, initiatives: site.initiatives.items } }}
</div>