---
layout: layouts/base.vto
title: Our Initiatives
---
<div class="py-12">
    {{ include "components/initiatives.vto" { title: initiatives.title, description: initiatives.description, initiatives: initiatives.items } }}
</div>